Postgres.json
[{"id":"7a969f37.9ffc7","type":"postgresql","z":"981c482f.c704d8","name":"","query":"CREATE DATABASE Gewaechshaus;\n","postgreSQLConfig":"51d44f20.a13a7","split":false,"rowsPerMsg":1,"outputs":1,"x":410,"y":40,"wires":[["ad31df49.5b137"]]},{"id":"ad31df49.5b137","type":"debug","z":"981c482f.c704d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"f586a199.7bb2f","type":"inject","z":"981c482f.c704d8","name":"Datenbank erstellen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":40,"wires":[["7a969f37.9ffc7"]]},{"id":"920702a9.f9892","type":"postgresql","z":"981c482f.c704d8","name":"","query":"CREATE TABLE Pflanzen (\n    Pflanze_ID SERIAL PRIMARY KEY,\n    Name VARCHAR(255),\n    Art VARCHAR(255),\n    Pflanzdatum DATE,\n    Wassermenge_lit_Pro_Tag NUMERIC(5, 2)\n);\n\n","postgreSQLConfig":"51d44f20.a13a7","split":false,"rowsPerMsg":1,"outputs":1,"x":410,"y":100,"wires":[["9e7b9dbf.8269a"]]},{"id":"9e7b9dbf.8269a","type":"debug","z":"981c482f.c704d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":100,"wires":[]},{"id":"e56693d2.4eaf2","type":"inject","z":"981c482f.c704d8","name":"Tabelle erstellen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["920702a9.f9892"]]},{"id":"63e6dcee.348d64","type":"postgresql","z":"981c482f.c704d8","name":"","query":"SELECT * FROM Pflanzen;\n","postgreSQLConfig":"51d44f20.a13a7","split":false,"rowsPerMsg":1,"outputs":1,"x":410,"y":220,"wires":[["20798127.3581fe"]]},{"id":"20798127.3581fe","type":"debug","z":"981c482f.c704d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":220,"wires":[]},{"id":"2bdc88d1.5c0d28","type":"inject","z":"981c482f.c704d8","name":"Tabelle auslesen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["63e6dcee.348d64"]]},{"id":"3b6d3deb.e01cc2","type":"postgresql","z":"981c482f.c704d8","name":"","query":"INSERT INTO Pflanzen (Name, Art, Pflanzdatum, Wassermenge_lit_Pro_Tag)\nVALUES\n('Tomate', 'Gemüse', '2024-05-10', ROUND((RANDOM() * 9 + 1)::numeric, 2)),\n('Rose', 'Blume', '2024-05-08', ROUND((RANDOM() * 9 + 1)::numeric, 2)),\n('Basilikum', 'Kraut', '2024-05-09', ROUND((RANDOM() * 9 + 1)::numeric, 2));\n","postgreSQLConfig":"51d44f20.a13a7","split":false,"rowsPerMsg":1,"outputs":1,"x":410,"y":160,"wires":[["8516404b.701eb"]]},{"id":"8516404b.701eb","type":"debug","z":"981c482f.c704d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"fe4a1a80.642658","type":"inject","z":"981c482f.c704d8","name":"Tabelle befüllen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["3b6d3deb.e01cc2"]]},{"id":"ae91008.926bc","type":"postgresql","z":"981c482f.c704d8","name":"","query":"DELETE FROM Pflanzen;\n\n","postgreSQLConfig":"51d44f20.a13a7","split":false,"rowsPerMsg":1,"outputs":1,"x":410,"y":280,"wires":[["906a2d84.ba6e1"]]},{"id":"906a2d84.ba6e1","type":"debug","z":"981c482f.c704d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"db758a84.127f38","type":"inject","z":"981c482f.c704d8","name":"Tabellen inhalt Löschen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["ae91008.926bc"]]},{"id":"51d44f20.a13a7","type":"postgreSQLConfig","z":"","name":"","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"postgres","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"iotueli","userFieldType":"str","password":"Koolance1","passwordFieldType":"str"}]
